{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}
{% block lead %}Make a useful contribution for future iGEM teams. Use this page to document that contribution.{% endblock %}

{% block page_content %}

<header class="hero">
  <h1 style="margin-bottom: 30vh;">Contribution</h1>
  <div class="scroll-indicator">↓</div>
</header>

<main class="container main-content">
  <aside class="table-of-contents" style="width: 15vw;">
      <h2>Table of Contents</h2>
      <ul>
          <li><a href="#section-1"  style="margin-top: 0vh;">Bacillus strains Airtable</a></li>
          <li><a href="#section-2">A Beginner’s Guide to Biopesticide Formulations
          </a></li>
          <li><a href="#section-3">A Handy Guide to Stakeholder Identification
          </a></li>
          <li><a href="#section-4">Promoter Design for Dummies
          </a></li>
          <li><a href="#section-5">Consolidated Coffee Yield Datasets for 15 years</a></li>
      </ul>
  </aside>

  <div class="content-panel">
      <div class="research-content">
          <section id="section-1">
              <h2>Bacillus strains Airtable</h2>
              <p>This Airtable serves as a streamlined reference for the 100+ bacterial strains we came across in our preliminary research. Each entry includes essential details about the strain name, its capability to produce three key lipopeptides (Iturin, Fengycin, and Surfactin), supporting literature evidence, and the strain’s accession number for easy lookup.
              </p>
              <p>Take a look at the table below to find which strains have demonstrated lipopeptide production and find the relevant literature that supports their use.</p>
              <center><iframe class="airtable-embed" style="width: 50vw; height: 70vh;" src="https://airtable.com/embed/appxPk4i33CCITmR0/shrIVLuVEczQEPjGb?viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe></center>
          
      </section>
      <section id="section-2">
          <h2>A Beginner’s Guide to Biopesticide Formulations</h2>
          <p>In an era where sustainable agriculture is crucial for the health of both the environment and global food systems, biopesticides are emerging as a vital tool in combating crop diseases and pests. This guide is designed to be an accessible entry point for anyone interested in the formulation of biopesticides. Covering essential knowledge from the basics of formulation types to practical considerations for field application, we aim to empower innovators, researchers, and agricultural professionals with the tools they need to create eco-friendly, effective pest control solutions.
          </p>                    
         <center><iframe style="width: 50vw; height: 70vh;" src="https://static.igem.wiki/teams/5141/contributions/a-beginner-s-guide-to-biopesticide-formulations.pdf" frameborder="0"></iframe></center>
          
  </section>
  <section id="section-3">
          <h2>A Handy Guide to Stakeholder Identification</h2>
          <p>Identifying and engaging the right stakeholders is critical to the success of any project. Stakeholders are the people, organizations, or entities that influence or are impacted by a project’s outcomes. Whether it’s researchers, regulators, end-users, or the broader community, understanding their needs, expectations, and concerns ensures the project's relevance, sustainability, and impact. This guide provides practical steps and strategies to help teams identify, prioritize, and effectively collaborate with key stakeholders, ensuring that the project benefits all involved and is aligned with real-world needs.
          </p>
          
          <center><iframe style="width: 50vw; height: 70vh;" src="https://static.igem.wiki/teams/5141/contributions/a-handy-guide-to-stakeholder-identification.pdf" frameborder="0"></iframe></center>
          
  </section>
  <section id="section-4">
      <h2>Promoter Design for Dummies</h2>
      <p>Promoter Design for Dummies is a handbook designed to guide students and researchers through the process of designing promoters for prokaryotic organisms from the ground up. It covers various aspects such as the nitty-gritty aspects of transcription, different parts of promotors, and essential facets to be considered in the workflow of their optimization.
      </p>
      <center><iframe style="width: 50vw; height: 70vh;" src="https://static.igem.wiki/teams/5141/contributions/promoters-for-dummies.pdf" frameborder="0"></iframe></center>
      
</section>
<section id="section-5">
  <h2>Consolidated Coffee Yield Datasets for 15 years</h2>
  <p>A major challenge restricting advancements in the field of prediction of coffee crop is due to lack of comprehensive datasets. Finding viable datasets was crucial for building our model. For this, we accumulated datasets from Coffee Board of India, WRIS, NASA POWER DAV, NATMO for over 15 years. This in our opinion was the best way to contribute to the scientific community. 
  </p>
  <p><b>Access the datasets</b> <a href="https://airtable.com/app8cvNfyu0PZTIH7/shrdcKz8VCytfd1rE">here</a></p>
  <p><b>The dataset spreadsheet is divided into the following sheets</b><br>
      Arabica<br>
      Robusta<br>
      Arabic Pan India- collected from July report of 2023<br>
      Robusta Pan India-collected from July report of 2023<br>
      Soil NPK<br>
      Rainfall Data<br>
      </p>
      <p><b>The  “Arabica”, “ Robusta”, “Rainfall Data” and “Soil NPK” sheet, has data for the following regions</b><br>
          <b>State_District</b><br>
Karnataka_Chikmagalur<br>
Karnataka_Kodagu<br>
Karnataka_Hassan<br>
Kerala_Wayanad<br>
Kerala_Travancore<br>
Kerala_Nelliampathy<br>
Tamil Nadu_Pulneys<br>
Tamil Nadu_Nilgiris<br>
Tamil Nadu_Salem<br>
Tamil Nadu_Coimbatore<br>
Andhra Pradesh_None<br>
Odisha_None<br>
North Eastern Regions_None<br>

          </p>
          <p><b>Note</b><br>
              1. The missing value indicate that the value hasn’t been reported in the available report<br>
              2. Certain regions namely Andhra Pradesh_None, Odisha_None and North Eastern Regions_None weren't considered for the model training since they do not have the precise districts listed under them on the Coffee Board of India website. Additionally they have little to no contribution compared to the major coffee producing states.<br>        
      </p>
</section>
      </div>
  </div>
              
</main>

{% endblock %}
