{% extends "layout.html" %}
  
{% block title %}Engineering Success{% endblock %}
{% block lead %}Demonstrate engineering success in a technical aspect of your project by going through at least one iteration of the engineering design cycle. This achievement should be distinct from your Contribution for Bronze.{% endblock %}

{% block page_content %}

<header class="hero">
  <h1 style="margin-bottom: 30vh;">Engineering</h1>
  <div class="scroll-indicator">↓</div>
</header>


{% endblock %}
