{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}
{% block lead %}Document the dates you worked on your project. This should be a detailed account of the work done each day for your project.{% endblock %}

{% block page_content %}

<header class="hero">
  <h1 style="margin-bottom: 30vh;">Notebook</h1>
  <div class="scroll-indicator">↓</div>
</header>

<main class="container main-content">
  <aside class="table-of-contents" style="width: 15vw;">
      <h2>Table of Contents</h2>
      <ul>
          <li><a href="#section-1"  style="margin-top: 0vh;"> </a></li>
          <li><a href="#section-2">Notebook PDF </a></li>
          
      </ul>
  </aside>

  <div class="content-panel">
      <div class="research-content">
          <section id="section-1">
              <h2>Introduction</h2>
              <br>
              <p>The MIT-MAHE iGEM 2024 notebook documents the team's detailed lab work across several weeks. It covers safety training, bacterial cultures (e.g., E. coli, Bacillus subtilis), plasmid isolation, transformations, and troubleshooting. Specific protocols such as competent cell preparation, glycerol stock creation, and plasmid testing are thoroughly discussed. Later experiments focus on fungal assays, involving Candida albicans and antifungal testing of Iturin. Challenges encountered, including issues with heat shock transformation and growth curve readings, are documented alongside the team's iterative efforts to refine their procedures and experiments</p>
          </section>

          <section id="section-2">
              <embed src="https://static.igem.wiki/teams/5141/last-day-notebook/notebook.pdf" width="100%" height="700vh" type="application/pdf">
          </section>

          
      </div>
  </div>
</main>

{% endblock %}
